body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  button, input, textarea{
    outline: none;
    border: none;
  }
  .navbar-inner {
    background:transparent;
  }
  .main-screen{
    background: url('https://wallpapercave.com/wp/wp5333475.jpg');
    animation: changeBackground;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all .4s;
  }
  .main-screen-navigation{
    width: 80%;
    margin: 10px auto;
  }
  .main-screen-navigation i{
    color: white;
  }
  .btn--custom{
    width: 20%;
    height: 30%;
    background: transparent;
    box-shadow: 1px 1px #888888;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    border: none;
    outline: none;
  }
  #point{
    background: transparent;
  }
  #point-status-angry{
    display: none;
  }
  #point-status-blur{
    display: none;
  }
  .bubble-layout{
    border-radius: 54% 46% 52% 58% / 60% 58% 42% 40%;
    background: linear-gradient(to right top,#ffffe6,#ffffcc,#ffffb3,#ffff99,#ffff80);
    animation: Ware 5s linear infinite;
   }
   
  .demo-bubble{
    width: 100px;
    height: 100px;
    margin: 20px auto;
  }
  .bubble--tick {
    border: solid 1px #000;
  }
  .board{
    position: relative;
    text-align: center;
    background-color: rgba(0,0,0,.2);
    height: 100%;
  }
  .word{
    content: attr(data-before);
    width: 10%;
    height: 5.5%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    position: absolute;
    left: 40%;
    animation: MoveUpDown 20s forwards, Ware 5s linear infinite;
    animation-play-state: running;
  }  
  #btnStop{
    display: none;
  }
  .support i, input[type="text"]{
    color: white;
  }
  #answer{
    display: block;
    background: rgba(0,0,0,.2);
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    opacity: .5;
    border: none;
    color: #fff;
  }
  #answer::placeholder {
    color: #fff;
  }
  #arrows{
    outline: none;
    background: transparent;
    color: #fff;
    margin: 0 0 10px;
  }
  #support-supper{
    display: none;
  }
  .arrow-support{
    position: absolute;
    bottom: 20px;
  }
  .progress--custom{
    height: 20px; 
    width: 50%; 
    margin-top: 10px
  }
  
  .settingmodal--bg{
    background: url('https://c4.wallpaperflare.com/wallpaper/648/123/668/life-kanji-japan-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .storemodal--bg {
    background: url('https://ak.picdn.net/shutterstock/videos/13751219/thumb/1.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }
  .store-body-items {
    overflow-x: auto;
    display: flex;
  }
  .store-body-items img {
    width: 20%;
    height: 20%;
    margin: 0 5%;
  }
  .modal--size {
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
  }
  .setting-modal--scroll {
    overflow-x: scroll;
    height: 50%;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .bgSlides {
    display: block;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,.2);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
   
  #settingBightness input[type="range"] {
    height: 1px;
    width: 100%;
  }
  #brightnessValue{
    text-align: center;
    font-size: 2rem;
  }
  .setting-custom-color input[type="color"]{
    border: none;
    /* outline */
  }
  @keyframes fade {
    from {opacity: .4
    }
    to {opacity: 1
    }
  }
  
  @keyframes changeBackground {
    0%{
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes MoveUpDown {
    0%{
      top: 40px;
    }
    100% {
      top: 70%;
    }
  }
  
  @keyframes Ware{
     20%{
       border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
     }
     40%{
       border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
     } 
     60%{
       border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
     }
     80%{
       border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
     }
  }
  @media only screen and (min-width: 400px) {
    .main-screen {
      /* background: url('https://c4.wallpaperflare.com/wallpaper/662/966/394/japan-tokyo-street-building-wallpaper-preview.jpg'); */
         background: url('https://images6.alphacoders.com/585/thumb-1920-585420.jpg'); 
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .word{
     
      width: 5%;
      height: 10%;
  
    } 
    .store-items-info {
      font-size: 2rem;
    }
    .word { 
      font-size: 3rem;
    }
    .main-screen-navigation, .support, #answer, #arrows {
      font-size: 2rem;
    }
    .progress--custom{
      margin-top: 20px;
    }
    @keyframes MoveUpDown {
      0%{
        top: 20px;
      }
      100% {
        top: 80%;
      }
    }
  }
  